--archive_description="Tiles for catamounthardware.com/atlas, based on the OpenMapTiles schema"
--archive_name="Ice Atlas"
--boundary_country_names=false
--boundary-osm-only
--building_merge_z13=false
--download-threads=10
--download-chunk-size-mb=1000
--exclude-layers=housenumber
--fetch_wikidata=false
--languages=en
--max-point-buffer=4
--maxzoom=15
--minzoom=6
--nodemap-type=sparsearray
--render_maxzoom=15
--storage=ram
--transportation_name_limit_merge
--use-wikidata=false
