--archive_description="Tiles for catamounthardware.com/atlas, based on the OpenMapTiles schema"
--archive_name="Ice Atlas"
--download_threads=20
--download_chunk_size_mb=1000
--languages=en
--max_point_buffer=4
--nodemap_type=sparsearray
--storage=ram
--use_wikidata=false
--boundary_country_names=false
--boundary_osm_only
--building_merge_z13=false
--exclude_layers=housenumber
--transportation_name_limit_merge
--transportation_z13_paths
--transportation_z13_tracks
--waterway_z12_streams
